* {
	padding: 0;
	margin: 0px;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	min-height: 100svh; /* for mobile so the view port automatically accounts for the address bar going up and down*/
	/* this is to make the rest of the page a flex container that way the bottom of the content will grow if its not big enough to fill the page */
	display: flex;
	/* same with this*/
	flex-direction: column;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100svh;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkcyan;
	height: 40px;
}
.gameContainer {
	display: flex;
	justify-content: center;
	gap: 10px;
	flex: 1; /* to push footer to the bottom*/
}

.playerGrid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
}
.tile {
	display: flex;
	background-color: rgb(0, 0, 124);
	width: 100px;
	height: 100px;
	margin: 2px;
	color: white;
	justify-content: center;
	align-items: center;
	font-size: 80px;
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkcyan;
	height: 20px;
}
