* {
	padding: 0;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	min-height: 100vh;
	min-height: 100svh; /* for mobile so the view port automatically accounts for the address bar going up and down*/
	/* this is to make the rest of the page a flex container that way the bottom of the content will grow if its not big enough to fill the page */
	display: flex;
	/* same with this*/
	flex-direction: column;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100svh;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkcyan;
	height: 60px;
	font-size: 40px;
}
.gameContainer {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.shuffleContainer {
	display: flex;
	justify-content: center;
	flex: 1;
}
.play {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	font-size: 35px;
}
.shuffle {
	height: 30px;
}

.playerGrid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
}
.tile {
	display: flex;
	background-color: rgb(0, 0, 124);
	aspect-ratio: 1/1;
	min-height: 100px;
	margin: 2px;
	color: white;
	justify-content: center;
	align-items: center;
	font-size: 50px;
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkcyan;
	height: 40px;
}

.popup-window {
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.429);
    width: 100%;
    height: 100%;

}

.create-project-window {
	display: flex;
    background-color: white;
    width: 400px;
    height: 100px;
flex-direction: column;
    position: absolute;
    top: 65px;
    left: calc(50% - 200px);
    border-radius: 10px;
    padding: 5px;
}

.create-project-window>form {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.window-field {
    display: flex;
    gap: 10px;
}

.close {
    background-color: rgb(216, 216, 216);
    width: 20px;
    height: 20px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

.close:hover {
    background-color: rgb(139, 139, 139);

}